@import "../../scss/_variables";
@import "../../scss/_buttons";



.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
}

.header-button{
  margin-top: 1em;
}
