
<header>
	<h2><a href="#">Mountain Travel</a></h2>
	<nav>
		<li><a href="#">Login</a></li>
	</nav>
</header>

  <section class="main">
	<div class="main-image" style="background-image: url(https://images.unsplash.com/photo-1486394873570-0dcc34a874c0?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=32f454545e2a6aead31d092c02e3db55&auto=format&fit=crop&w=1350&q=80);"></div>
	<div class="main-content">
		<h1>Mountain Travel</h1>
		<h3>Unmissable Adventure Tours Around The World</h3>
		<a href="#" class="btn">Login</a>
	</div>
  </section>
